.iconLabel {
    display: flex;
    gap: 4px;
}

.rideStats {
    padding: 0.5em 1em;
    border-radius: 12px;
    min-width: 9em;
}

.alert {
    background-color: #602323;
}

.warning {
    background-color: #6f4724;
}

.success {
    background-color: #2b6023;
}

.rideStatsWrapper {
    display: flex;
    margin-top: 0.25em;
    margin-bottom: 1em;
    gap: 0.5em;
}

.v_divider {
    min-height: 100%;
    width: 1px;
    background-color: #444;
    margin: 0 1em;
}

.normal_link {
    text-decoration: none;
    color: #be7f7f;
}
.normal_link:hover {
    text-decoration: underline;
}